name: CI pipeline

on:
  # push:
  #   branches:
  #     - development
  pull_request:
    branches:
      # - main  
      - development   
      # - 'release/**'       
    tags-ignore:
      - 'v*' # this tag type is used for release pipelines

jobs:
#   test-pipeline:

#     runs-on: ubuntu-latest
#     strategy:
#       max-parallel: 4

#     steps:
#       - uses: actions/checkout@v1

#       - name: Set up Python
#         uses: actions/setup-python@v2
#         with:
#           python-version: 3.7.9

#       - name: Install pip
#         run: |
#           make install

#     #   - name: Install dependencies and project in dev mode
#     #     run: |
#     #       pip install -r unit-requirements.txt
#     #       pip install -e .
        
#       - name: Run pylint code analysis
#         run: |
#           echo "Launching pylint code analysis"
#           make lint

#       - name: Run unit tests
#         run: |
#           echo "Launching unit tests"
#           make test
          
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.9

      - name: Install pip
        run: |
          make install

    #   - name: Install dependencies and project in dev mode
    #     run: |
    #       pip install -r unit-requirements.txt
    #       pip install -e .
        
      - name: Run pylint code analysis
        run: |
          echo "Launching pylint code analysis"
          make lint

      - name: Run unit tests
        run: |
          echo "Launching unit tests"
          make test    
    
    
    
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}          




